.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
            "h h"
            "n c";
    /*Ряды, Колонки*/
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}


.nav {
    grid-area: n;
    background-color: goldenrod;
}


.content {
    grid-area: c;
    background-color: rgb(85, 85, 85);
}